.owerlay{
position: fixed;
width: 100vw;
height: 100vh;
background-color: rgba(56, 56, 56, 0.404);
z-index: 2;
}

.contact-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    width: fit-content;

    
}

.contact-form{
    display: flex;
    flex-direction: column;
}


.contact-modal_content{
    position: relative;
    padding: 30px;
}
.contact-modal_button{
    position: absolute;
    top: 5px;
    right: 5px;
}