.owerlay{
position: fixed;
width: 100vw;
height: 100vh;
background-color: rgba(56, 56, 56, 0.404);
z-index: 5;
transition-property: opacity, visibility;
transition-duration: 300ms
}

.owerlay.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}

.owerlay.is-hidden .contact-modal {
    transform: translate(-50%, -50%) scale(0.1);
 
}

.contact-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: fit-content; 
    transition: transform 500ms; 
}

.contact-form{
    display: flex;
    flex-direction: column;
}
.contact-form_input,
.contact-form_textarea{
margin-bottom: 12px;
}
.contact-form_textarea{
    resize: none;
    
}
// @media screen and (min-width: 768px) {

//   }
.contact-modal_content{
    position: relative;
    padding: 30px;
}
.contact-modal_button{
    position: absolute;
    top: 5px;
    right: 5px;
}

.contact-form_button{

}