<section class="section">
  <div id="about-us" class="container">
    <h2>Кто мы такие</h2>
    <p>
      <p> Мастерская резки и гравировки "<b>Poster cut</b>"</p>
    <p>
      Наша мастерская это небольшая креативная команда, которая горит своим
      делом и обожает создавать стильные деревянные картины для самых разных
      интерьеров
      <p>У вас есть уникальная возможность наблюдать за нашим ростом с
      самого начала, подписавшись на наши социальные сети. В них мы размещаем
      наши работы, технические процессы, интересные посты и немножечко себя</p>
      Вы можете выбрать и заказать для себя любую картину, которую увидите,
      а так же предложить свою идею по приятным ценам
    </p>
  </p>
    <h2>С чего все началось?</h2>
    <p>
      С идеи. Идея - это искра. Она появляется,обычно, вечером на кухне. Затем
      вы вспоминание о ней снова и снова. И вот это уже мечта - огонь в глазах,
      пожар в душе. Так было и у нас. Автор идеи - Паша , ему всегда было
      интересно создавать своими руками что то красивое, интересное и сложное
      (человек строитель - инженер). Так он презентовал мне идею создания
      мастерской с ЧПУ станком для созданий деревянных картин. А я опомниться и
      не успела как стала адептом его креативной идеи. Итак, осень 2020 год. На
      носу 2 переезда (о которых мы ещё не знаем) и параллельно обустройство
      мастерской. Под обустройством я имею ввиду буквально создание с 0: закуп
      утеплителя, материалов для стен, потолков, установка оборудования, сборка
      станка, сбор новых стеллажей, установка отопления и ещё много всего по
      мелочи. Нам не легко давались некоторые моменты, но мечта захватила нас
      полностью, отступать некуда. Сейчас у нас есть все необходимое для
      комфортной работы, куча идей, желание ставить перед собой новые задачи и
      ваши заказы. Мы будем рады почитать в комментариях ваши слова поддержки. А
      ещё мы всегда будем рады вашим репостам и лайкам. Спасибо за ваши тёплую
      поддержку, которая уже образовалась в директе, мы это очень ценим!
    </p>
  </div>
</section>
