<section class="section">
  <div id="about-us" class="container">
  <div class="about-us_content--section">
    <h2>Хто ми такі
    </h2>
    <p>
      <!-- <p> Майстерня різання та гравіювання "<b>Poster cut</b>"</p> -->
    <p>
      Майстерня <b>POSTER_CUT</b> - це місце де ви точно підберете оригінальний подарунок для себе і своїх близьких

<!-- 
      Наша майстерня – це невелика креативна команда, яка горить своїм
      ділом і обожнює створювати стильні дерев'яні картини для різних
      інтер'єрів -->
      <p>
        
        Ви можете підібрати стильний декор з нашого каталогу або втілити свій унікальний задум і запропонувати свій дизайн!
        <!-- У вас є унікальна можливість спостерігати за нашим зростанням з
      самого початку, передплативши наші соціальні мережі. У них ми розміщуємо
      наші роботи, технічні процеси, цікаві пости та трошки себе</p>
      Ви можете вибрати та замовити для себе будь-яку картину, яку побачите,
      а також запропонувати свою ідею за приємними цінами -->
    </p>
  </p>
  </div>
   <div > <h2>З чого все почалось?</h2>
    <p>
      З ідеї. Ідея – це іскра. Вона з'являється, як правило, увечері на кухні. Потім
      ви згадку про неї знову і знову. І ось це вже мрія – вогонь в очах,
      пожежа у душі. Так було й у нас. Автор ідеї - Паша, йому завжди було
      цікаво створювати своїми руками щось гарне, цікаве та складне
      (Людина будівельник - інженер). Так він презентував мені ідею створення
      майстерні з ЧПУ верстатом для створення дерев'яних картин. А я схаменутися і
      не встигла як стала представником його креативної ідеї. Отже, осінь 2020 року. на
      носі 2 переїзди (про які ми ще не знаємо) і паралельно облаштування
      майстерні. Під облаштуванням я маю на увазі буквально створення з 0: закупівля
      утеплювача, матеріалів для стін, стель, встановлення обладнання, збирання
      верстата, збирання нових стелажів, встановлення опалення та ще багато всього по
      дрібниці. Нам нелегко давалися деякі моменти, але мрія захопила нас
      повністю, відступати нікуди. Зараз у нас є все необхідне для
      комфортної роботи, купа ідей, бажання ставити перед собою нові завдання та
      ваші замовлення. Ми будемо раді почитати у коментарях ваші слова підтримки. А
      ще ми завжди будемо раді вашим репостам та лайкам. Дякую за вашу теплу
      підтримку, яка вже утворилася у директі, ми це дуже цінуємо!
    </p></div>
  </div>
</section>
