<section class="section" id="Catalog">

    <div class="container"> 
        <h2 class="section_title">Что мы предлагаем</h2> 
        <ul class="catalog">
            <li class="catalog_item"><a href="#Wood" class="catalog_link"><span class="catalog_title">Настенные панно</span> <img class="catalog_image" src="https://i.ibb.co/QQVLNFp/photo-2023-02-25-16-35-12-2.jpg" alt="деревянные картины"/></a></li>
            <li class="catalog_item"><a href="#Lamp" class="catalog_link"><span class="catalog_title">Ночные лампы</span> <img class="catalog_image" src="https://i.ibb.co/fryRn0C/311-MIXf-BCik.jpg" alt="Ночные лампы"/></a></li>
            <li class="catalog_item"><a href="#Souvenirs" class="catalog_link"><span class="catalog_title">Сувениры</span>  <img class="catalog_image" src="https://suvenir-akp.ru/user-files/sites/3738/2021/01/8b64dc4ec59dd753b854d62549ed2f0b-scaled.jpeg " alt="деревянные картины"/></a></li>
            <li class="catalog_item"><a href="#SelfMade" class="catalog_link"><span class="catalog_title">Наборы <span>"Собери сам"</span> </span> <img class="catalog_image" src="https://i.ibb.co/Qf0Lv13/244680383-1280644242380823-5019405694120967086-n.jpg" alt='Набор собери сам'/></a></li>
            <!-- добавить логотипы -->
        </ul>
    </div> 
</section>
 