<div class="owerlay is-hidden" id="contact-modal">
    <div class='contact-modal'>
        <div class="contact-modal_content">
        <button id="contact-form-close" class="button contact-modal_button" >X</button>
  <form class="contact-form" id="contact-form">
    <input class="contact-form_input" type="name"  name="name" placeholder="Имя" required min="2"/>
    <input class="contact-form_input" type="email"  name="email" placeholder="email" required/>
    <input class="contact-form_input" type="phone"  name="phone" placeholder="Телефон" required min="6"/>
    <textarea class="contact-form_textarea"  placeholder="Сообщение" name="message" rows="3"></textarea>
<button type="submit"  class="button contact-form_button"id="contact-form-submit">Отправить</button>
  </form>
</div> 
</div>
</div>      
  