<div class="owerlay visually-hidden" id="contact-modal">
    <div class='contact-modal'>
        <div class="contact-modal_content">
        <button id="contact-form-close" class="contact-modal_button" >X</button>
  <form class="contact-form" id="contact-form">
    <input type="name"  name="name" placeholder="Имя" required min="2"/>
    <input type="email"  name="email" placeholder="email" required/>
    <input type="phone"  name="phone" placeholder="Телефон" required min="6"/>
    <textarea  placeholder="Сообщение" name="message"></textarea>
<button type="submit" id="contact-form-submit">Отправить</button>
  </form>
</div>
</div>
</div>
