<section class="section">
    <div class="delivery container" id="Delivery">
      <h2 class="section_title">Доставка</h2>
      <div class="delivery_content">
        <p class="delivery_subtitle">Вы можете получить ваш заказ несколькими способами:<p>
            <ul class="delivery_list">
                <li class="delivery_item">Самовывоз по преворительной договренности</li>
                <li class="delivery_item">Доставка курьером по городу (заказы от 5000 рублей доставляются бесплатно)</li>
                <li class="delivery_item">Доставка курьерской службой "СДЭК"</li>
            </ul>
      </div>
    </div>
  </section>