<section class="section" id="Delivery">
    <div class="delivery container" id="Delivery">
      <h2 class="section_title">Доставка</h2>
      <div class="delivery_content">
        <p class="delivery_subtitle">Ви можете отримати ваше замовлення кількома способами:<p>
            <ul class="delivery_list">
                <li class="delivery_item">Самовивіз за попередньою домовленістю</li>
                <li class="delivery_item">Доставка кур'єром по місту (замовлення від 1000 грн доставляються безкоштовно)</li>
                <li class="delivery_item">Доставка кур'єрською службою "Укрпошта", або "Нова пошта"</li>
            </ul>
      </div>
    </div>
  </section>  