<footer class="footer" id="Footer">
  <div class="footer_content container">
    <div class="footer_logo"><h1>Poster cut</h1></div>
    <!-- <div class="footer_links">  -->
    <div class="footer_links" id="Contacts">
      <ul>
        <li><a href="#Wood" class="footer_links">Панно</a></li>
        <li><a href="#Lamp" class="footer_links">Лампы</a></li>
        <li><a href="#about-us" class="footer_links">О нас</a></li>
      </ul>
    </div>
    <div class="footer_contacts" id="Contacts">
      <h3>Мы в социальных сетях</h3>
      <ul class="contacts_list">
        <li class="contacts_item">
          <a href="https://www.instagram.com/poster_cut" target="_blank"
            ><svg width="30px" height="30px" fill="inherit">
              <use href="./images/symbol-defs.svg#icon-instagram" /></svg></a>
        </li>
        <li class="contacts_item">
          <a href="https://vk.com/poster_cut" target="_blank"
            ><svg width="30px" height="30px" fill="inherit">
              <use href="./images/symbol-defs.svg#icon-vk" /></svg></a>
        </li>
        <li class="contacts_item">
          <a href="https://t.me/+efBrZ4e0OA4zYTJi" target="_blank"
            ><svg width="30px" height="30px" fill="inherit">
              <use href="./images/symbol-defs.svg#icon-telegram" /></svg></a>
        </li>
      </ul>
    </div>
    <!-- </div>  -->
  </div>
  <div class="footer_copiright">
    <p>Екатеринбург 2023</p>
  </div>
</footer>
