<footer class="footer" id="Footer">
  <div class="footer_content container">
    <div class="footer_logo"><h1>Poster cut</h1></div>
    <!-- <div class="footer_links">  -->
    <div class="footer_links" id="Contacts">
      <ul class="links_list">
        <li class="links-item"><a class="links-link" href="/#about-us" >Про нас</a></li>
        <li class="links-item"><a class="links-link" href="/#Catalog">Каталог</a></li>
        <li class="links-item"><a class="links-link" href="./delivery.html">Доставка</a></li>
      </ul>
    </div>
    <div class="footer_contacts" id="Contacts">
      <h3>Ми в соціальних мережах</h3>
      <ul class="contacts_list">
        <li class="contacts_item">
          <a href="https://www.instagram.com/trans.699" target="_blank"
            ><svg width="30px" height="30px" fill="inherit">
              <use href="./images/symbol-defs.svg#icon-instagram" /></svg></a>
        </li>
        <li class="contacts_item">
          <a href="https://www.facebook.com/Trans.699" target="_blank"
            ><svg width="30px" height="30px" fill="inherit">
              <use href="./images/symbol-defs.svg#icon-facebook" /></svg></a>
        </li>
        <li class="contacts_item">
          <a href="https://t.me/trans_699" target="_blank"
            ><svg width="30px" height="30px" fill="inherit">
              <use href="./images/symbol-defs.svg#icon-telegram2" /></svg></a>
        </li>
      </ul>
    </div>
    <!-- </div>  -->
  </div>
  <div class="footer_copiright">
    <p>Харків 2023</p>
  </div>
</footer>
