<header class="header container" id="Header">
  <div class="header_content">
    <div class="header_mobile-control" id="header-mobile-control"> 
    <img
      class="header_logo--mobile" 
      src="./images/logo.png"
      alt="Poster Cut Logo"       
    />           
    <button class="header_burger" id="header-button"><span></span></button>
  </div>
    <div class="nav" id="header-nav">
      <nav class="nav_content">
        <ul class="nav_list--catalog">  
          <li class="nav_item"><a class="nav_link" href="#Wood">Деревянные панно</a></li>
          <li class="nav_item"><a class="nav_link" href="#Lamp">Лампы</a></li>
          </ul>
          <div class="logo">     
          <img
          class="header_logo--main" 
          src="./images/logo.png"  
          alt="Poster Cut Logo"  
        />   </div>
          <ul class="nav_list--info">  
            <li class="nav_item"><a class="nav_link" href="#about-us">О нас</a></li>
            <li class="nav_item"><a class="nav_link" href="#Contacts">Контакты</a></li>
          <!-- <li class="nav_item"><a class="nav_link" href="#Delivery">Доставка</a></li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>
