<header class="header container" id="Header">
  <div class="header_content">
    <img
      class="header_logo" 
      src="./images/logo.png"  
      alt="Poster Cut Logo"  
    />    
    <button class="nav_close-button" id="header-button">Open</button>
    <div class="nav" id="header-nav">
      <nav class="nav_content">
        <ul class="nav_list--catalog">  
          <li class="nav_item"><a class="nav_link" href="#Wood">Деревянные пано</a></li>
          <li class="nav_item"><a class="nav_link" href="#Lamp">Акриловые лампы</a></li>
          </ul>
          <ul class="nav_list--info">  
            <li class="nav_item"><a class="nav_link" href="#about-us">О нас</a></li>
            <li class="nav_item"><a class="nav_link" href="#Contacts">Контакты</a></li>
          <!-- <li class="nav_item"><a class="nav_link" href="#Delivery">Доставка</a></li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>
