<header class="header" id="Header">
  <div class="container">
  <div class="header_content">
    <div class="header_mobile-control" id="header-mobile-control">
      <a href="/">
        <img
          class="header_logo--mobile"
          src="./images/logo.png"
          alt="Poster Cut Logo"
      /></a>
      <button class="header_burger" id="burger-button"><span></span></button>
    </div>
    <div class="nav" id="header-nav">
      <nav class="nav_content">
        <ul class="nav_list--catalog">
          <li class="nav_item">
            <a class="nav_link" href="/#Catalog">Каталог</a>
            <button id="nav_menu-button" class="nav_menu-button"><svg width="30px" height="30px" class="nav_menu-button--icon">
              <use href="./images/symbol-defs.svg#icon-arrow-right" /></svg></button>
            <div class="catalog-menu" id="catalog-menu">
              <ul class="catalog-menu_list">
                <li class="catalog-menu_item"> Вироби з дерева
                  <ul> 
                    <li> <a class="catalog-menu_link" href="/src/wood.html">Дерев'яні пано</a></li>
                    <li><a class="catalog-menu_link" href="/src/souvenirs.html">Сувеніри</a></li>
                    <li><a class="catalog-menu_link" href="/src/handmade.html">Набори "Зроби сам"</a></li></ul>
                </li>
              <li class="catalog-menu_item">Вироби з акрилу <ul> <li><a class="catalog-menu_link" href="/src/acrylic.html">Нічні лампи</a></li></ul></li>
            </ul>
            </div>

          </li>
          <li class="nav_item">
            <a class="nav_link" href="./delivery.html">Доставка</a>
          </li>
        </ul>
        <a href="/" class="logo">
          <img
            class="header_logo--main"
            src="./images/logo.png"
            alt="Poster Cut Logo"
          />
        </a>
        <ul class="nav_list--info">
          <li class="nav_item">
            <a class="nav_link" href="/#about-us">Про нас</a>
          </li>
          <li class="nav_item">
            <a class="nav_link" href="#Contacts">Контакти</a>
          </li>
          <!-- <li class="nav_item"><a class="nav_link" href="#Delivery">Доставка</a></li> -->
        </ul>
      </nav>
    </div>
  </div>
</div>
</header>
