<hero class="hero">
  <div class="hero_video-box">
    <div class="hero_content">
      <h2 class="hero_title">
        Вітаємо в майстерні <span class="non-breaking-name">"Poster cut"</span>
      </h2>
      <button id="contact-form-open" class="button hero-button">
        Зв'язатися з нами
      </button>
    </div>
    <video
      class="video-background mobile-hide"
      autoplay
      muted
      loop
      id="myVideo"
    >
      <source src="./video/horisontal.mp4" type="video/mp4" />
    </video>
    <video
      class="video-background mobile-show"
      autoplay
      muted
      loop
      id="myVideo"
    >
      <source src="./video/vertical.mp4" type="video/mp4" />
    </video>
  </div>
</hero>
