<section class="section">

    <div class="container"> 
        <h2 class="section_title">Что мы предлагаем</h2> 
        <ul class="positions">
            <li class="positions_item"><a href="#Wood" class="positions_link"><span class="positions_title">Настенное панно</span> <img class="positions_image" src="https://i.ibb.co/QQVLNFp/photo-2023-02-25-16-35-12-2.jpg" alt="деревянные картины"/></a></li>
            <li class="positions_item"><a href="#Lamp" class="positions_link"><span class="positions_title">Ночные лампы</span> <img class="positions_image" src="https://i.ibb.co/fryRn0C/311-MIXf-BCik.jpg" alt="деревянные картины"/></a></li>
            <li class="positions_item"><a href="#Lamp" class="positions_link"><span class="positions_title">Сувениры</span>  <img class="positions_image" src="https://suvenir-akp.ru/user-files/sites/3738/2021/01/8b64dc4ec59dd753b854d62549ed2f0b-scaled.jpeg " alt="деревянные картины"/></a>
            </li>
        </ul>
    </div> 
</section>
